<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
	<title>会员中心</title>
</head>
<style>
	h3 {
		font-size: 24px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -0.6px;
		text-align: center;
		color: #303030;
		padding: 30px 0;
	}
	div {
		padding-left: 20px;
		padding-right: 20px;
	}
	div img {
		width: 100%;
		padding-bottom: 15px;
	}
</style>
<body>
	<h3>优惠商铺查询</h3>
	<div>
		{% for item in shops %}
			<img src="/{{ item.image }}" alt="" onclick="'{{ item.link }}' === 'None' ? alert('敬请期待！') : window.location.href='{{item.link}}'">
		{% endfor %}
	</div>
</body>
</html>